.ghe{
    background-color: rgb(170, 167, 167);
    width:45px;
    padding: 8px 0;
    color: white;
    
}

.ghedachon{
    background-color:rgb(238, 111, 111);
    cursor: no-drop;
}
.ghedangchon{
    background-color: rgb(118, 168, 118);
}